html, body {
  margin: 0;
  padding: 0;
}

.landing-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: asset-url('loginbg.png') no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(30, 30, 30, 0.3); /* Dark gray overlay */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.content h1 {
  font-size: 3em;
  margin-bottom: 0.5em;

}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
  font-weight: 400;
}

.buttons {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid $yellow;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.1);
  color: $yellow;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  background: transparent;
  overflow: hidden;

  &::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: $yellow;
    z-index: -1;
  }

  &:hover,
  &:focus {
    color: white;

    &::before {
      left: 0;
      right: 0;
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.9);
  }

  &.secondary {
    border-color: $green;
    color: $green;

    &::before {
      background-color: $green;
    }
    &:hover,
        &:focus {
          color: white;
        }
      }
    }
